.section-title h5{
    font-size: 23px;
}

/* Header Part Start*/

.logo img{
    width: 179px;
    height: 49px;
    object-fit: cover;
}

.header-contact ul li i{
    color: #ffc600;
}
.login-register ul li.nav-item{
    position: relative;
}

.login-register ul li{
    color: #ffc600;
    margin: 0 10px;
}

.login-register ul li a{
    font-family: 'Roboto', sans-serif;
    color: #ffc600;
}

.header-contact ul li.top-seperator{
    margin: 0;
    padding: 0;
    color: #ffffff;
}

/* Header Part End*/

.register-label{
    font-weight: 700;
    font-size: 15px;
}

.custom-dropdown{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    color: #8a8a8a;
    font-size: 15px;
    background: rgb(255, 255, 255);
    text-align: left;
    display: flex;
    align-items: center;
}

.nice-select.open .list{
    width: 100%;    
}

.nice-select .list{
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-menu{
    border: 1px solid #a1a1a1;
    width: 100%;
}

.forgotpassword-link a{
    color: #07294d;
}

.forgotpassword-link a:hover{
    color: #ffc600;
}

.icon-sub-menu{
    position: absolute;
    top: 110%;
    left: 0;
    background-color: #07294d;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    z-index: 99;
}

ul.icon-sub-menu li {
    display: block;
    padding: 0;
    margin: 0;
    text-align: left;
}

ul.icon-sub-menu li a{
    padding: 10px 15px;
    display: block;
    border-bottom: 1px solid rgba(255, 198, 0, 0.5);
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

ul.icon-sub-menu li a:hover{
    padding-left: 20px;
    color: #ffc600;
}

.icon-nav .nav-item:hover .icon-sub-menu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}

/* Owl Carousel Extra CSS Start */
.box-shadowed {
    -webkit-box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.08) !important;
    -moz-box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.08) !important;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.08) !important;
}

.pull-up {
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
}

.my-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
/* Owl Carousel Extra CSS End */

/* My Profile */
.box {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0px;
    -webkit-transition: .5s;
    transition: .5s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
}

.box-body{
    padding: 1.5rem 1.5rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 5px;
}

.bb-1 {
    border-bottom: 1px solid #f3f6f9 !important;
}

.teachers-left {
    padding: 1.5rem 0 35px;
    background-color: #fff;
    border-radius: 5px;
}

.teachers-left .name {
    padding-top: 0px;
    margin-top: 5px;
    margin-left: 15px;
}

.widget-user-2 .widget-user-image > img {
    width: 65px;
    height: auto;
    float: left;
}

.box-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    padding: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box-footer ul li a{
    color: #07294d;
}

.box-footer ul li a.active{
    color: #fff;
    background: #07294d;
}

.box-footer ul li a:hover{
    color: #ffc600;
}

.teachers-right .tab-content {
    padding: 0px;
}

.teachers-right .tab-content .tab-pane{
    padding: 0px 25px 35px;
}

.teachers-right .tab-content .tab-pane.nopadding{
    padding: 0px;
}

.table.no-border td, .table.no-border th {
    border: 0;
}

.badge-lg {
    line-height: 1.5;
    padding: 5px 7px;
    font-size: 95%;
}

.waves-effect{
    background: #1d2025;
    border: 1px solid #1d2025;
    margin-right: 10px;
    color: #ffffff;
}

a.waves-effect:hover{
    color: #ffc600;
}

.btn-circle.btn-xs {
    width: 30px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    border-radius: 100%;
}

.h-50px{
    height: 50px;
} 
.w-50px{
    width: 50px;
}


/* .teachers-right .tab-content{
    
} */
/* Card */
.card {
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(19, 23, 38, 0.05);
    margin-bottom: 30px;
}
.card .horizontal-img{
    height: 100%;
    object-fit: cover;
}
.card-img-top {
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.card-body {
padding: 1.5rem 1rem;
}
.card-body .card-title {
margin-bottom: 0.75rem;
border-bottom: none;
}
.card-body .cour-stac p{
font-size: 14px;
}
.card-header {
display: -webkit-box;
display: flex;
-webkit-box-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
align-items: center;
padding: 1.5rem 1.5rem;
background-color: transparent;
border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.card-header .card-title {
padding: 0;
border: none;
}
.card-header > *:first-child {
margin-left: 0;
}
.card-header > *:last-child {
margin-right: 0;
}
.card-header > * {
margin-left: 8px;
margin-right: 8px;
}
.card-title {
margin-bottom: 0;
border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.card-controls {
list-style-type: none;
padding-left: 0;
margin-bottom: 0;
display: -webkit-box;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
flex-direction: row-reverse;
}
.card-controls [data-toggle="dropdown"], .card-controls .card-btn-reload {
font-size: 14px;
}
.card-controls li > a {
font-size: 12px;
display: inline-block;
padding: 0 4px;
margin: 0 4px;
color: #608acf;
opacity: 0.8;
-webkit-transition: 0.3s linear;
transition: 0.3s linear;
}
.card-footer {
padding: 1rem 1rem;
background-color: transparent;
}
.card-inverse {
color: #fff !important;
background-color: #000;
}
.card-inverse h1, .card-inverse h2, .card-inverse h3, .card-inverse h4, .card-inverse h5, .card-inverse h6, .card-inverse .card-title, .card-inverse small, .card-inverse .card-controls li > a {
color: #fff !important;
}
.t-10 {
top: 0.7142857143rem;
}
.r-10 {
right: 0.7142857143rem;
}
.no-shadow {
box-shadow: none !important;
}
.no-border {
    border: 0 !important;
}
  
@media (min-width: 992px){
    .w-lg-300 {
        width: 300px;
    }
}
#pills-payments .tab-pane{
    padding: 10px 0px;
}
#pills-payments ul li a{
    padding: .5rem 1rem;
    background-color: #fff;
    color: #07294d;
    border-color: #e9ecef #e9ecef #dee2e6;
}
#pills-payments ul li a.active{
    background-color: #07294d;
    color: #fff;
    border-color: #315377;
}

.lt-sp{
    margin-left: 10px;
    margin-right: 10px;
}

.slick-list{
    display: flex;
    flex-direction: column;
}

.slick-initialized .slick-slide {
    display: flex;
}


.shopping-cart{
    position: relative;
}
.shopping-cart:hover{
    color: black;
}

.shopping-cart .shopping-cart-sub-menu{
    left: -50px;
}

.shopping-cart ul.shopping-cart-sub-menu li a{
    border-bottom: unset;
}

.shopping-cart .megamenu-content {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: #fff;
    text-align: left;
    border: solid 1px #efefef;
    z-index: 5;
    display: none;
}

.shopping-cart:hover .megamenu-content, 
.shopping-cart .megamenu-content:hover
{
    display: block;
    width: 300px;
}

.shopping-cart .megamenu-content .cart-header{
    border-bottom: solid 1px #f3f6f9;
    padding: 15px 20px;
    font-weight: 700;
    font-size: 17px;
}

.shopping-cart .megamenu-content .cart-header .total-price{
    float: right;
    font-family: 'Roboto', sans-serif;
}

.shopping-cart .megamenu-content .cart-body ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
}

.shopping-cart .megamenu-content .cart-body ul li{
    position: relative;
    display: block;
    float: none;
    width: 100%;
    padding: 15px 20px;
    border-top: solid 1px #f3f6f9;
    min-height: 90px;
    padding-left: 90px;
}

.shopping-cart .megamenu-content .cart-body ul li:hover{
    cursor: pointer;
}

.shopping-cart .megamenu-content .cart-body ul li:first-child {
    border: 0;
}

.shopping-cart .megamenu-content .cart-body ul li img{
    width: 50px;
    top: 20px;
    left: 20px;
    position: absolute;
    border-radius: 4px;
}

.shopping-cart .megamenu-content .cart-body ul li .title{
    font-weight: 700;
    margin: 5px 0; 
    font-family: 'Roboto', sans-serif;   
}

.shopping-cart .megamenu-content .cart-body ul li:hover .title{
    color: #ffc600;
}

.shopping-cart .megamenu-content .cart-body ul li .qty{
    float: right;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.shopping-cart .megamenu-content .cart-body ul li .price-st {
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.shopping-cart .megamenu-content .cart-footer {
    display: flex;
    justify-content: center;
    border-top: solid 1px #f3f6f9;
    padding: 15px 20px;
}

.shopping-cart .megamenu-content .cart-footer .main-btn {
    padding: 0 30%;
    font-size: 16px;
}

/* shopping cart section */
.py-50{
    padding-top: 50px;
}
.shopping-cart-section .box-header{
    display: block;
    padding: 1.5rem 1.5rem;
    position: relative;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #07294d;    
}

.shopping-cart-section .box-footer{
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    padding: 1.5rem 1.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.shopping-cart-section .box-title{
    color: #ffffff;
}

.shopping-cart-section .table > tbody > tr > td, .table > tbody > tr > th {
    border-top: 1px solid #f3f6f9;
    padding: 1rem;
    vertical-align: middle;
}

.shopping-checkout-box{
    margin-top: 25px;
}
.shopping-checkout-box .box-header{
    display: block;
    padding: 1.5rem 1.5rem;
    position: relative;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Chatroom */
.chatroom-left-profile{
    overflow: hidden;
    width: auto;
    height: 280px;
    margin-bottom: 1rem;
    overflow-y: auto;
}

.chatroom-left-profile::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5; 
}
  
.chatroom-left-profile::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
}

.chatroom-left-profile::-webkit-scrollbar-thumb {
    background-color: #0052cc;
}

.icon-sub-menu.message-menu{
    border-radius: 10px;
}

.chatroom-left-profile .media,
.icon-sub-menu.message-menu .media {
    padding: 1rem;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
    border-radius: 10px;
}

.chatroom-left-profile .media > *,
.icon-sub-menu.message-menu .media > *{
    margin: 0rem 0.5rem;
}

.chatroom-left-profile .media-list-hover > .media:not(.media-list-header):not(.media-list-footer):hover, 
.chatroom-left-profile .media-list-hover .media-list-body > .media:hover,
.icon-sub-menu.message-menu .media-list-hover > .media:not(.media-list-header):not(.media-list-footer):hover,
.icon-sub-menu.message-menu .media-list-hover .media-list-body > .media:hover
{
    background-color: #ebedf3;
    cursor: pointer;
}

.chatroom-left-profile .media .avatar,
.icon-sub-menu.message-menu .media .avatar {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
}

.chatroom-left-profile .media .avatar-lg,
.icon-sub-menu.message-menu .media .avatar-lg {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 1.286rem;
}

.chatroom-left-profile .media .avatar,
.icon-sub-menu.message-menu .media .avatar {
    flex-shrink: 0;
}

.chatroom-left-profile .media .avatar img,
.icon-sub-menu.message-menu .media .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    vertical-align: top;
}

.chatroom-left-profile .avatar[class*='status-']::after, 
.icon-sub-menu.message-menu .avatar[class*='status-']::after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #ffffff;
}

.chatroom-left-profile .avatar[class*='status-']::after,
.icon-sub-menu.message-menu .avatar[class*='status-']::after{
    background-color: #0052cc;
}

.chatroom-left-profile .avatar[class*='status-'].avatar-lg::after,
.icon-sub-menu.message-menu .avatar[class*='status-'].avatar-lg::after{
    right: 4px;
}

.icon-sub-menu.message-menu .media p{
    line-height: 22px;
}

.chatroom-left-profile .media-body {
    flex: 1;
    min-width: 0;
}

.chatroom-right-message{
    border-radius: 10px;
}

.chatroom-right-message .box-header {
    color: #172b4c;
    display: block;
    padding: 1.5rem 1.5rem;
    position: relative;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chatroom-right-message .mailbox-messages{
    overflow: hidden;
    width: auto;
    height: 540px;
    overflow-y: auto;
    padding: 1.5rem 1.5rem;
}

.chatroom-right-message .mailbox-messages::-webkit-scrollbar-track,
.icon-sub-menu.message-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5; 
}
  
.chatroom-right-message .mailbox-messages::-webkit-scrollbar,
.icon-sub-menu.message-menu::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
}

.chatroom-right-message .mailbox-messages::-webkit-scrollbar-thumb,
.icon-sub-menu.message-menu::-webkit-scrollbar-thumb {
    background-color: #0052cc;
}

.chatroom-right-message .box-body .mailbox-messages .chat-logs .chat-msg{
    clear: both;
}

.chat-msg.user div > .msg-avatar img {
    border-radius: 10px;
    float: left;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
}

.avatar-lg {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 1.286rem;
}

.cm-msg-text {
    background: #f3f6f9;
    padding: 10px 15px 10px 15px;
    color: #666;
    max-width: 75%;
    float: left;
    margin-top: 10px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    word-break: break-all;
}

.chat-msg.self > .cm-msg-text {
    float: right;
    background: #0052cc;
    color: white;
}

#chat-input {
    background: #ffffff;
    width: 100%;
    position: relative;
    height: 57px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: none;
    resize: none;
    outline: none;
    color: #172b4c;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.chat-submit {
    position: absolute;
    bottom: 6px;
    right: 10px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    color: #5A5EB9;
    width: 35px;
    height: 35px;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge-dot {
    width: 8px;
    height: 8px;
    padding: 0;
    border-radius: 100%;
    vertical-align: middle;
}

.theme-primary .badge-primary {
    background-color: #0052cc;
    color: #ffffff;
}

.badge:empty {
    display: inline-block;
    vertical-align: inherit;
}

.badge-dot.badge-sm {
    width: 6px;
    height: 6px;
}

.icon-sub-menu.message-menu{
    background-color: #ffffff;
    width: 300px;
    left: unset;
    right: 0;
    height: 500px;
    overflow-y: auto;
}

/* Quiz */
.question-title{
    padding-top: 18px;
    font-size: 18px;
}
.quiz-action{
    float: right;
    padding-top: 25px;
}

.quiz-action a{
    color: #07294d;
}

.quiz-action .main-btn:hover a, .quiz-action .main-btn-reverse:hover a{
    color: #fff;
}

#quiz {
    display:none;
}

ul.question-option {
    list-style-type: none;
    padding: 0;
    padding-top: 20px;
    margin: 0;
}

ul.question-option li{
    display: flex;
    align-items: center;
    position: relative;
    float: left;
    width: 100%;
    height: 80px;
}

ul.question-option li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

ul.question-option li label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 18px;
    padding: 0;
    margin: 0;
    padding-left: 80px;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

ul.question-option li:hover label{
    opacity: 0.8;
}

ul.question-option li .check{
    display: flex;
    position: absolute;
    border: 5px solid #07294d;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
  
ul.question-option li:hover .check {
    opacity: 0.8;
}
  
ul.question-option li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 2.5PX;
    left: 2.5PX;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}
  
/* input[type=radio]:checked ~ .check {
    border: 5px solid #ffc600;
} */

input[type=radio]:checked ~ .check::before{
    background: #ffc600;
}
  
input[type=radio]:checked ~ label{
    color: #07294d;
}

#prev { 
    display: none;
}

#start {
    display: none;
}

#subject-list #page_container {
    border: 1px solid #cecece;
    padding: 10px 30px;
    border-radius: 4px;
}
#subject-list .panel{
    margin: 15px 10px 15px 0;
    padding-top: 8px;
    border-top: 1px solid #cecece;
}
#subject-list .panel:first-child{
    border-top: 0px;
}
#subject-list ul li {
    margin: 10px;
}
#subject-list ul li a {
    margin: 10px;
    color: #07294d;
}
#subject-list ul li a:hover {
    color: #ffc600;
    cursor: pointer;
}
#subject-list ul li a i{
    margin-right: 10px;
}

.home-course-image img{
    height: 250px;
    width: 370px;
}
