.section-title h5{
    font-size: 23px;
}

/* Header Part Start*/

.logo img{
    width: 179px;
    height: 49px;
    object-fit: cover;
}

.header-contact ul li i{
    color: #ffc600;
}
.login-register ul li.nav-item{
    position: relative;
}

.login-register ul li{
    color: #ffc600;
    margin: 0 10px;
}

.login-register ul li a{
    font-family: 'Roboto', sans-serif;
    color: #ffc600;
}

.header-contact ul li.top-seperator{
    margin: 0;
    padding: 0;
    color: #ffffff;
}

/* Header Part End*/

.register-label{
    font-weight: 700;
    font-size: 15px;
}

.custom-dropdown{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    color: #8a8a8a;
    font-size: 15px;
    background: rgb(255, 255, 255);
    text-align: left;
    display: flex;
    align-items: center;
}

.nice-select.open .list{
    width: 100%;    
}

.nice-select .list{
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-menu{
    border: 1px solid #a1a1a1;
    width: 100%;
}

.forgotpassword-link a{
    color: #07294d;
}

.forgotpassword-link a:hover{
    color: #ffc600;
}

.icon-sub-menu{
    position: absolute;
    top: 110%;
    left: 0;
    background-color: #07294d;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    z-index: 99;
}

ul.icon-sub-menu li {
    display: block;
    padding: 0;
    margin: 0;
    text-align: left;
}

ul.icon-sub-menu li a{
    padding: 10px 15px;
    display: block;
    border-bottom: 1px solid rgba(255, 198, 0, 0.5);
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

ul.icon-sub-menu li a:hover{
    padding-left: 20px;
    color: #ffc600;
}

.icon-nav .nav-item:hover .icon-sub-menu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}

/* Owl Carousel Extra CSS Start */
.box-shadowed {
    -webkit-box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.08) !important;
    -moz-box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.08) !important;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.08) !important;
}

.pull-up {
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
}

.my-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
/* Owl Carousel Extra CSS End */

/* My Profile */
.box {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0px;
    -webkit-transition: .5s;
    transition: .5s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
}

.box-body{
    padding: 1.5rem 1.5rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 5px;
}

.bb-1 {
    border-bottom: 1px solid #f3f6f9 !important;
}

.teachers-left {
    padding: 1.5rem 0 35px;
    background-color: #fff;
    border-radius: 5px;
}

.teachers-left .name {
    padding-top: 0px;
    margin-top: 5px;
    margin-left: 15px;
}

.widget-user-2 .widget-user-image > img {
    width: 65px;
    height: auto;
    float: left;
}

.box-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    padding: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box-footer ul li a{
    color: #07294d;
}

.box-footer ul li a.active{
    color: #fff;
    background: #07294d;
}

.box-footer ul li a:hover{
    color: #ffc600;
}

.teachers-right .tab-content {
    padding: 0px;
}

.teachers-right .tab-content .tab-pane{
    padding: 0px 25px 35px;
}

.teachers-right .tab-content .tab-pane.nopadding{
    padding: 0px;
}

.table.no-border td, .table.no-border th {
    border: 0;
}

.badge-lg {
    line-height: 1.5;
    padding: 5px 7px;
    font-size: 95%;
}

.waves-effect{
    background: #1d2025;
    border: 1px solid #1d2025;
    margin-right: 10px;
    color: #ffffff;
}

a.waves-effect:hover{
    color: #ffc600;
}

.btn-circle.btn-xs {
    width: 30px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    border-radius: 100%;
}

.h-50px{
    height: 50px;
} 
.w-50px{
    width: 50px;
}


/* .teachers-right .tab-content{
    
} */
/* Card */
.card {
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(19, 23, 38, 0.05);
    margin-bottom: 30px;
}
.card .horizontal-img{
    height: 100%;
    object-fit: cover;
}
.card-img-top {
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.card-body {
padding: 1.5rem 1rem;
}
.card-body .card-title {
margin-bottom: 0.75rem;
border-bottom: none;
}
.card-body .cour-stac p{
font-size: 14px;
}
.card-header {
display: -webkit-box;
display: flex;
-webkit-box-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
align-items: center;
padding: 1.5rem 1.5rem;
background-color: transparent;
border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.card-header .card-title {
padding: 0;
border: none;
}
.card-header > *:first-child {
margin-left: 0;
}
.card-header > *:last-child {
margin-right: 0;
}
.card-header > * {
margin-left: 8px;
margin-right: 8px;
}
.card-title {
margin-bottom: 0;
border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.card-controls {
list-style-type: none;
padding-left: 0;
margin-bottom: 0;
display: -webkit-box;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
flex-direction: row-reverse;
}
.card-controls [data-toggle="dropdown"], .card-controls .card-btn-reload {
font-size: 14px;
}
.card-controls li > a {
font-size: 12px;
display: inline-block;
padding: 0 4px;
margin: 0 4px;
color: #608acf;
opacity: 0.8;
-webkit-transition: 0.3s linear;
transition: 0.3s linear;
}
.card-footer {
padding: 1rem 1rem;
background-color: transparent;
}
.card-inverse {
color: #fff !important;
background-color: #000;
}
.card-inverse h1, .card-inverse h2, .card-inverse h3, .card-inverse h4, .card-inverse h5, .card-inverse h6, .card-inverse .card-title, .card-inverse small, .card-inverse .card-controls li > a {
color: #fff !important;
}
.t-10 {
top: 0.7142857143rem;
}
.r-10 {
right: 0.7142857143rem;
}
.no-shadow {
box-shadow: none !important;
}
.no-border {
    border: 0 !important;
}
  
@media (min-width: 992px){
    .w-lg-300 {
        width: 300px;
    }
}
#pills-payments .tab-pane{
    padding: 10px 0px;
}
#pills-payments ul li a{
    padding: .5rem 1rem;
    background-color: #fff;
    color: #07294d;
    border-color: #e9ecef #e9ecef #dee2e6;
}
#pills-payments ul li a.active{
    background-color: #07294d;
    color: #fff;
    border-color: #315377;
}

.lt-sp{
    margin-left: 10px;
    margin-right: 10px;
}

.slick-list{
    display: flex;
    flex-direction: column;
}

.slick-initialized .slick-slide {
    display: flex;
}


.shopping-cart{
    position: relative;
}
.shopping-cart:hover{
    color: black;
}

.shopping-cart .shopping-cart-sub-menu{
    left: -50px;
}

.shopping-cart ul.shopping-cart-sub-menu li a{
    border-bottom: unset;
}

.shopping-cart .megamenu-content {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: #fff;
    text-align: left;
    border: solid 1px #efefef;
    z-index: 5;
    display: none;
}

.shopping-cart:hover .megamenu-content, 
.shopping-cart .megamenu-content:hover
{
    display: block;
    width: 300px;
}

.shopping-cart .megamenu-content .cart-header{
    border-bottom: solid 1px #f3f6f9;
    padding: 15px 20px;
    font-weight: 700;
    font-size: 17px;
}

.shopping-cart .megamenu-content .cart-header .total-price{
    float: right;
    font-family: 'Roboto', sans-serif;
}

.shopping-cart .megamenu-content .cart-body ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
}

.shopping-cart .megamenu-content .cart-body ul li{
    position: relative;
    display: block;
    float: none;
    width: 100%;
    padding: 15px 20px;
    border-top: solid 1px #f3f6f9;
    min-height: 90px;
    padding-left: 90px;
}

.shopping-cart .megamenu-content .cart-body ul li:hover{
    cursor: pointer;
}

.shopping-cart .megamenu-content .cart-body ul li:first-child {
    border: 0;
}

.shopping-cart .megamenu-content .cart-body ul li img{
    width: 50px;
    top: 20px;
    left: 20px;
    position: absolute;
    border-radius: 4px;
}

.shopping-cart .megamenu-content .cart-body ul li .title{
    font-weight: 700;
    margin: 5px 0; 
    font-family: 'Roboto', sans-serif;   
}

.shopping-cart .megamenu-content .cart-body ul li:hover .title{
    color: #ffc600;
}

.shopping-cart .megamenu-content .cart-body ul li .qty{
    float: right;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.shopping-cart .megamenu-content .cart-body ul li .price-st {
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.shopping-cart .megamenu-content .cart-footer {
    display: flex;
    justify-content: center;
    border-top: solid 1px #f3f6f9;
    padding: 15px 20px;
}

.shopping-cart .megamenu-content .cart-footer .main-btn {
    padding: 0 30%;
    font-size: 16px;
}

/* shopping cart section */
.py-50{
    padding-top: 50px;
}
.shopping-cart-section .box-header{
    display: block;
    padding: 1.5rem 1.5rem;
    position: relative;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #07294d;    
}

.shopping-cart-section .box-footer{
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    padding: 1.5rem 1.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.shopping-cart-section .box-title{
    color: #ffffff;
}

.shopping-cart-section .table > tbody > tr > td, .table > tbody > tr > th {
    border-top: 1px solid #f3f6f9;
    padding: 1rem;
    vertical-align: middle;
}

.shopping-checkout-box{
    margin-top: 25px;
}
.shopping-checkout-box .box-header{
    display: block;
    padding: 1.5rem 1.5rem;
    position: relative;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}